<div class="pass-gen">
  <span>Length of Password</span>
  <br />
  <input type="text" name="password-length-input" #passLen id="pass-len"
    (onkeypress)="setPasswordLength(passLen.value)">
  <br /><br />
  <input type="checkbox" name="Use Letter" id="letter" (checked)="letterChecked()">
  <label for="letter">Use Letter</label><br>
  <input type="checkbox" name="Use Number" id="number" (checked)="numberChecked()">
  <label for="number">Use Letter</label><br>
  <input type="checkbox" name="Use Letter" id="special-ch" (checked)="specialCharaterChecked()">
  <label for="special-ch">Use Special Character</label><br>

  <br /><br /><br />
  <div class="gen-button">
    <button class="input-btn" type="button" (click)="generateNewPassword()">Generate password</button>
  </div>
  <div class="new-pass" *ngIf="password!==''">
    <h4>{{password}}</h4>
  </div>
</div>