.pass-gen {
  align-items: center;
  display: table-caption;
  padding: 20px;
  border: 1px solid black;
  background-color: rgb(181, 231, 215);
}

.input-btn {
  padding: 15px;
  margin: 14px;
  background-color: rgb(166, 250, 87);
  color: blue
}

.all-chk-box {
  padding: 8px;
  margin: 6px;
}

.new-pass {
  color: blueviolet;
  text-decoration: solid;

}

.len-exep {
  color: rgb(238, 106, 73);
  padding: 5px
}

.gen-button {
  z-index: auto;
}
