<div class="pass-gen">

  <div>
    <span>Length of Password</span>
    <input type="text" name="password-length-input" id="pass-len" (input)="onChangeLength($event)" />
  </div>
  <div>
    <input type="checkbox" name="Use Letter" id="letter" (change)="onChangeUseLetters()" />
    <label for="letter">Use Letter</label><br>
  </div>
  <div>
    <input type="checkbox" name="Use Number" id="number" (change)="onChangeUseNumbers()" />
    <label for="number">Use Number</label><br>
  </div>
  <div>
    <input type="checkbox" name="Use Letter" id="special-chars" (change)="onChangeUseSplChars()" />
    <label for="special-ch">Use Special Character</label><br>
  </div>
  <div class="gen-button">
    <button class="input-btn" type="button" (click)="onGenerateButtonClick()">Generate password</button>
  </div>
  <div class="new-pass" *ngIf="password!==''">
    <h3>Your Password!</h3>
    <h3 [innerText]="password"></h3>
  </div>
</div>
