<div class="pass-gen">

  <div>
    <span>Password Length</span>
    <input type="text" name="password-length-input" id="pass-len" (input)="onChangeLength($event)" />
  </div>
  <div class="len-exep" *ngIf="this.passwordLen==0">
    <mark [innerText]="msgOnPassLenError"></mark>
  </div>
  <div class="len-exep" *ngIf="!this.includeLetters && !this.includeNumbers && !this.includeSplChars">
    <mark [innerText]="msgOnChkBxError"></mark>
  </div>
  <div class="all-chk-box">
    <div>
      <input type="checkbox" name="Use Letter" id="letter" (change)="onChangeUseLetters()" />
      <label for="letter">Letters</label><br>
    </div>
    <div>
      <input type="checkbox" name="Use Number" id="number" (change)="onChangeUseNumbers()" />
      <label for="number">Numbers</label><br>
    </div>
    <div>
      <input type="checkbox" name="Use Letter" id="special-chars" (change)="onChangeUseSplChars()" />
      <label for="special-ch">Symbol</label><br>
    </div>
    <div class="gen-button">
      <button class="input-btn" [disabled]="genBtnDisable" type="button" (click)="onGenerateButtonClick()">New
        Password</button>
    </div>
  </div>
  <div class="new-pass" *ngIf="password!==''">
    <h3>Your Password!</h3>
    <h3 [innerText]="password"></h3>
  </div>
</div>
